* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 18px 46px;
}

.header_ul {
    display: flex;
    width: 518px;
    padding: 20px 10px;
    list-style-type: none;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}

.header_login {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
}

.hero {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 18px 46px;
    margin-top: 120px;
}

.hero_article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_link {
    background-color: black;
    padding: 2px 8px;
    width: 40px;
    color: white;
    text-decoration: none;
    border-radius: 90px;
}

.hero_meet {
    font-size: 22px;
    font-weight: 400;
    width: 550px;
    line-height: 30px;
}

.hero_scheduling {
    font-size: 103px;
    font-weight: 600;
}

.hero_form {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.hero_input {
    width: 1030px;
    padding: 30px 50px;
    border-radius: 30px;
    font-size: 21px;
    font-weight: 500;
}

.hero_username {
    width: 275px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
}

.hero_image {
    width: 648px;
    border-radius: 40px;
    transform: translateX(670px) translateY(-620px);
}

@media screen and (max-width:1400px) {
    .hero_input {
        width: 850px;
    }

    .hero_username {
        width: 240px;
    }

    .hero_meet {
        width: 490px;
    }

    .hero_image {
        width: 600px;
        transform: translateX(530px) translateY(-580px);
    }

    .hero_scheduling {
        font-size: 93px;
        font-weight: 600;
    }
}

@media screen and (max-width:1170px) {
    .header_ul {
        width: 438px;
    }

    .hero_input {
        width: 650px;
    }

    .hero_username {
        width: 220px;
        font-size: 18px;
    }

    .hero_meet {
        width: 390px;
    }

    .hero_image {
        width: 500px;
        transform: translateX(440px) translateY(-550px);
    }

    .hero_scheduling {
        font-size: 78px;
        font-weight: 600;
    }
}

@media screen and (max-width:1020px) {
    .header_ul {
        width: 400px;
    }

    .hero_input {
        width: 550px;
    }

    .hero_username {
        width: 200px;
        font-size: 18px;
    }

    .hero_meet {
        width: 350px;
        font-size: 16px;
    }

    .hero {
        margin-top: 80px;
    }

    .hero_image {
        width: 400px;
        border-radius: 30px;
        transform: translateX(400px) translateY(-450px);
    }

    .hero_scheduling {
        font-size: 63px;
        font-weight: 600;
    }
}

@media screen and (max-width:830px) {
    .hero_input {
        width: 400px;
        padding: 20px 40px;
    }

    .hero_username {
        width: 180px;
        font-size: 16px;
    }

    .hero_image {
        width: 350px;
        border-radius: 30px;
        transform: translateX(280px) translateY(-420px);
    }

    .hero_scheduling {
        font-size: 50px;
        font-weight: 600;
    }

    .header_ul {
        width: 300px;
    }

    .hero_meet {
        width: 250px;
        font-size: 16px;
    }
}

@media screen and (max-width:660px) {
    .header_ul {
        display: none;
    }

    .hero {
        margin-top: 20px;
    }

    .hero_image {
        width: 450px;
        border-radius: 30px;
        transform: translateX(0px) translateY(0px);
    }

    .hero_meet {
        width: 450px;
        font-size: 16px;
    }

    .hero_scheduling {
        text-align: start;
        width: 450px;
    }

    .hero_input {
        width: 200px;
        padding: 6px 15px;
        font-size: 18px;
    }

    .hero_username {
        width: 150px;
        padding: 15px 20px;
        font-size: 15px;
        font-weight: 400;
    }
}

@media screen and (max-width:470px) {
    .hero {
        margin-top: 10px;
    }

    .hero_image {
        width: 300px;
        border-radius: 30px;
        transform: translateX(0px) translateY(0px);
    }

    .hero_meet {
        width: 300px;
        font-size: 16px;
    }

    .hero_scheduling {
        text-align: start;
        width: 300px;
        font-size: 40px;
    }

    .hero_form {
        flex-direction: column;
    }

    .hero_input {
        width: 200px;
        padding: 6px 15px;
        font-size: 18px;
    }

    .hero_username {
        width: 200px;
        padding: 6px 15px;
        font-size: 15px;
        font-weight: 400;
    }

    .header_login {
        padding: 6px 10px;
        font-size: 16px;
    }
}